build/
log/
certs/
**/.env
*.env
**/__pycache__/
*.pyc
*.bak

# compiled Go binaries in source dirs
account-proxy/account-proxy
friends-nex/friends-nex
friends-nex/notify-test
relay-admin/relay-admin
relay-admin/account-proxy
grpc-stubs/account
grpc-stubs/cmd/account/account
wsc-authentication/wii-sports-club-authentication
