[submodule "wiiu-chat-secure"]
	path = wiiu-chat-secure
	url = git@github.com:Happynico7504/wiiu-chat-secure.git
[submodule "wiiu-chat-authentication"]
	path = wiiu-chat-authentication
	url = git@github.com:Happynico7504/wiiu-chat-authentication.git
[submodule "juxt"]
	path = juxt
	url = git@github.com:Happynico7504/juxtaposition-revivetendo.git
	branch = dev
[submodule "angry-birds-star-wars"]
	path = angry-birds-star-wars
	url = git@github.com:Happynico7504/angry-birds-star-wars.git
[submodule "mk8-authentication"]
	path = mk8-authentication
	url = git@github.com:Happynico7504/mario-kart-8-authentication.git
[submodule "mk8-secure"]
	path = mk8-secure
	url = git@github.com:Happynico7504/mario-kart-8-secure.git
